*{
    margin: 0;
    padding: 0;
    font-family: Montserrat; 
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alumni+Sans+Collegiate+One:ital@1&family=Atma&family=Montserrat:wght@400;700&display=swap');

.container{
    overflow: hidden;
}
.logo{
    position: absolute;
    top: 20px;
    left: 7%;
    
}
.container_chil{
    margin-bottom: 50px;
    padding-top: 70px;
}



.bg_img{
    position: relative;
}

.bg_img img{
    width: 100%;
    height: 70vh;
}

.box1{ 
    width: 100%;
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: space-between;
    /* margin: 0 100px; */
}

.box2{
    margin-left: 120px;
}

.messenger{
    width: 400px;
}
h1 {
    font-size: 60px;
    font-family: Montserrat;
    font-weight: bold;
}
h2 {
    font-size: 16px; 
    font-weight: 500;
    margin-top: 20px;
} 


.sign_in{
    width: 400px;
    background-color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 7px 6px #c2c1c1;
    padding: 30px 40px 30px 30px;
    margin-bottom: 10px;
    margin-right: 160px;

}
h3{
    font-family: Montserrat;
    font-size: 36px;

}

h4{
    margin: 5px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;
}

input {
    width: 100%;
    padding: 16px 0 16px 12px;
    font-size: 16px;
    font-weight:lighter;
    margin: 5px 0;
    border: none;
    background-color:whitesmoke;
    border-radius: 12px;
}

.checkbox{
    display: flex;
    justify-content: start;
}
.tick{
    width: 20px;
}

.terms{
    margin: 5px;
    font-size: 16px;
}

.btn_submit{
    background-color: #57eeab;
    color: #333131;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.btn_submit:hover{
    cursor: pointer;
}

.link{
    font-size: 14px;
    margin-left: 10px;
}

.link_check{
    text-decoration: none;
    color: #ff8480;
}

.footer{
    background-color: #fffd8c;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: fixed;
}

.footer_child{
    padding-left: 120px;
}

.calculate{
    display: flex;
    width: 100%;
}
.calculate1 {
    display: flex;
}

.calculate input{
    padding: 6px 8px;
}
.hour{
    width: 20%;
}

.city{
    width: 40%;
    margin: 5px 10px;
}

.btn_cal{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 5px;
    height: 30px;
    font-size: 20px;
    background-color: #ff8480;
    color: #f7f7ff;
    margin-left: -123px;

}

.social{
    position: relative;
    display: flex;
    right: 0;
    padding-left: 100px;
    right: 150px;
    

}

.social_icon{
    margin: 15px;
    
}

.social_icon img{
    width: 40px;
}

h5{
    font-size: 16px;
}
h6{
    font-weight: inherit;
    font-size: 14px;
    margin: 5px 0;
}

@media only screen and (min-width: 1150px)  {
    .box3 {
        width: 510px;
    }
    
}

/*Tablet*/
@media only screen and (min-width:425px) and (max-width: 1149px) {
    body {
        align-items: center;

    }
    .logo {
        width: 150px;
        margin-left: 30px;

    }
    .box1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .container_chil {
        max-width: 90%;
    }
    .container {
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .bg_img {
        position: relative;
        margin: auto;
        align-items: center;
        width: 700px;
    }

    .bg_img img { 
        position: absolute; 
        width: 470px;
        margin: auto;
        margin-top: 550px;
        margin-left: 130px;

    }
    .messenger {
        margin-left: 50px;
        width: 700px;
    }
    .note1 {
        font-size: 100px;
    }
    .note2 {
        font-size: 30px;
    }
    
    .box2 {
        margin-left: 38px;
        margin-top: 100px;
    }

    .box3{
        position: relative;
        margin: auto;
        width: 600px;
        margin-top: 344px;
        margin-left: 60px;
        display: flex;
        flex-direction: row;
    }
    .sign_in {
        position: relative;
        width: 420px;
        /*margin-left: 130px;*/
        margin: auto;
        margin-top: 36px;
        

    }
    .box1 {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
        width: 800px;
    }
    .footer {
        position: relative;
        margin-top: 42px;
        display: flex;
        flex-direction: column; 
        width: 100%;
        align-items: center;
    }
    .footer_child {
        padding: 0;
        margin-right: -15px; 
    }
    .social {
        padding-left: 232px;
    }
    
}


/*MOBILE*/
@media only screen and (max-width: 424px) {
    body {
        align-items: center;

    }
    .container {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    
    .container_chil {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        
    }
    .logo {
        width: 100px;
        left: 30px;
    
    }
    .messenger {
        bottom: 150px;
        position: relative;
        left: -100px;
        margin-top: 50px;
        width: 300px;
    }

   .note1 {
        position: relative;
        font-size: 60px;
        padding-top: 140px;
    
   }
   .note2 {
        font-size: 20px;
        margin-top: -5px;
   }
   .bg_img img{
        padding-top: 260px;
        width: 300px;
        margin-top: 80px;
    
   }
   .box1 {
        display: flex;
        flex-direction: column;
   }
   .box3 {
        padding-top: 100px;
   }
    
   .sign_in {
        position: relative;
        width: 250px;
    
   }
   .footer {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-right: 90px;
        margin-top: 480px;
        margin-left: -70px;
        width: 379px;
   }
   .calculate {
        display: flex;
        flex-direction: column;

   }
   .calculate1 {
        width: 300px;
        height: 50px;
   
   }
   .city {
    width: 300px;
   }
   
   h5 {
    font-size: 15px;
   }

   .social {
        top: 5px;
        margin-left: 1200px;
        left: -600px;


   }
   .social_icon img {
        width: 30px;
   }
   .footer_child1 {
        width: 210px;

   }


   .footer_child {
        padding-left: 150px;
        padding-right: 40px;
   }
   .btn_cal {
        width: 280px;
        height: 37px;
        margin-left: 5px;
   }
   
   
} 